<div id="carta">
    <div class="form-group row">
        <label class="col-lg-3 col-form-label 	form-control-label"><b>Mes</b></label>
        <div class="col-lg-9">
            <select th:field="${nuevoTurno.mes}" id="selMes" required class="btn dropdown-toggle border">
                <option th:each="mesS:${mesSel}" th:value="${mesS.key}" th:text="${mesS.value}">Mes seleccionado
                </option>
                <option th:each="mes:${meses}" th:value="${mesStat.index + 1}" th:text="${mes}"></option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-3 col-form-label 	form-control-label"><b>Día</b></label>
        <div class="col-lg-9">
            <select th:field="${nuevoTurno.dia}" id="selDia" class="btn dropdown-toggle border" required>
                <option th:each="diaS:${diaSel}" th:value="${diaS.key}" th:text="${diaS.key != 0} ? ${diaS.key} + ' - ' + ${diaS.value} : ${diaS.value}">Dia seleccionado
                </option>
                <option th:each="dia:${dias}" th:value="${dia.key}" th:text="${dia.key} + ' - ' + ${dia.value}">
                </option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-3 col-form-label 	form-control-label"><b>Horario</b></label>
        <div class="col-lg-9">
            <select th:field="${nuevoTurno.horario}" id="selHorario" class="btn dropdown-toggle border">
                <option th:each="horS:${horSel}" th:value="${horS.key}" th:text="${horS.value}">Dia seleccionado
                </option>
                <option th:each="horario:${horarios}" th:value="${horario.id}" th:text="${horario.descripcion}">
                </option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-3 col-form-label 	form-control-label"><b>Estación</b></label>
        <div class="col-lg-9">
            <select th:field="${nuevoTurno.estacion}" id="selEstacion" class="btn dropdown-toggle border" required>
                <option th:if="${estacionSel == null}" th:value="${null}">Seleccione</option>
                <option th:if="${estacionSel != null}" th:value="${estacionSel.id}" th:text="${estacionSel.nombre}">Dia seleccionado
                </option>
                <option th:each="estacion:${estaciones}" th:value="${estacion.id}" th:text="${estacion.nombre}">
                </option>
            </select>
        </div>
    </div>

</div>
<script src="../../static/javascript/turnos.js" th:src="@{javascript/turnos.js}"></script>