:root{
    --color-principal:#1c6f7a;
}

@font-face {
    font-family: "Ancizar Sans";
    font-style: normal;
    font-weight: normal;
    src: url("../fuentes/Ancizar\ Sans-Light.otf") format("opentype");
  }
  
  body {
    font-family: "Ancizar Sans", "Segoe UI";
    font-size: 16px;
  }
 
/*Estilos para los botones selectpicker*/
.dropdown button {
  background-color: white !important;
  color: black !important;
  border: 1px solid rgb(228, 226, 226) !important;
}
.dropdown {
  padding: 0 !important;
  border-radius: 5px;
}

select {
  cursor: pointer;
}

/*Estilos para el input tipo texto que usa datepicker IMPORTANTE: el input debe tener la clase "selectCalendar"*/
input.selectCalendar{
    cursor:pointer;
    border-radius: 4px 0 0 4px;
    color:black;
}

input.selectCalendar::placeholder{
    color:black;
}

input.selectCalendar:read-only{
    background-color: white;
}

input.selectCalendar:read-only:focus{
    outline: none;
    border-color: lightgrey;
    box-shadow: none;
}


/*Estilos para el botón que acompaña el imput datepicker (contiene el icono de calendario) IMPORTANTE: el botón debe tener la clase "btn-calendar"*/
.btn-calendar-form:focus, input.selectCalendar:read-only:focus + .btn-calendar-form{
    background-color: rgb(194, 231, 253);
}

.btn-calendar-form{
    background-color: lightgrey;
    border:none;
    padding: 0 6px 0 5px;
    border-radius: 0 4px 4px 0;

}


/*Estilos para el botón guardar de un formulario IMPORTANTE: el botón debe tener la clase "guardar"*/
.guardar{
    background-color: var(--color-principal);
    color:white;
}

.guardar:hover{
    filter: brightness(85%);
    color: white;
}

/*Estilos para el header del modal form IMPORTANTE: el div debe tener la clase modal-form-header*/
.modal-form-header{
    background-color: var(--color-principal);
    color:white
}


.modal-form-header .modal-title{ /* "modal title" es la clase que debe tener el h5, h4, p, etc que contenga el título del modal header*/
    width: 100%;
    text-align: center;
}

/*Estilos para el botón de cerrar modal*/
.modal-form-header .close{
    text-shadow: none;
    color:white
}

