<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Estudiantes</title>
    <link rel="icon" type="image/x-icon" href="../img/bycicle.png">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/favicon.png}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


    <!-- DATA TABLE -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
   
</head>

<body>
    <div th:include="navbar.html" th:remove="tag"></div>
    <div class="container mt-4 p-4">

        <div class="modal fade" tabindex="-1" role="dialog" id="modalRegistro">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Nuevo estudiante</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-3">
                        <form th:object="${estudiante}" th:action="@{/estudiantes}" method="post">
                            <div class="form-group">
                                <label for="Nombre" class="font-weight-bold">Nombres</label>
                                <input th:field="*{nombres}" type="text" class="form-control" id="Nombre"
                                    placeholder="Nombres del Estudiante" required>
                            </div>
                            <div class="form-group">
                                <label for="Apellido" class="font-weight-bold">Apellidos</label>
                                <input type="text" class="form-control" id="Apellido" th:field="*{apellidos}"
                                    placeholder="Apellidos del Estudiante" required>
                            </div>
                            <div class="form-group">
                                <label for="Documento" class="font-weight-bold" required>Documento</label>
                                <input type="number" class="form-control" id="Documento" th:field="*{documento}"
                                    placeholder="Número de Documento">
                            </div>
                            <div class="form-group">
                                <label for="telefono" class="font-weight-bold">Teléfono</label>
                                <input type="number" class="form-control" id="telefono" th:field="*{telefono}"
                                    placeholder="Número de teléfono">
                            </div>
                            <div class="form-group">
                                <label for="inputState" class="font-weight-bold">Carrera</label>
                                <select id="inputState" class="form-control" th:field="*{carrera}">
                                    <option th:each="carrera:${carreras}" th:value="${carrera.id}"
                                        th:text="${carrera.descripcion}"></option>
                                </select>
                            </div>
                            <div class="mt-4 d-flex justify-content-center">
                                <button type="submit" value="Registrar" class="btn btn-success">Registrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-success mb-2" data-toggle="modal" data-target="#modalRegistro">
            Agregar
        </button>
        <br>

        <div th:include="./estudiantes/tablaEstudiantes.html" th:remove="tag"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="../static/javascript/estudiantes.js" th:src="@{javascript/estudiantes.js}"></script>
</body>

</html>