<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Servicio suspendido</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/favicon.png}">
</head>
<style type="text/css">
	body{
		background-color: rgb(82,148,189);
	}
</style>
<body>

	<div style="text-align: center; font-family: Segoe UI;">
		<h1 style="color:rgb(231,217,80)">Servicio suspendido</h1>
		<h3>Nos trasladamos a <a href="https://gestionbicirrun.azurewebsites.net">https://gestionbicirrun.azurewebsites.net</h3>
		<img src="bike.gif">
	</div>
</body>
</html>