<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
 

    <form id="turnosForm" th:object="${nuevoTurno}" method="post" class="form" role="form" autocomplete="off"
        th:action="@{/turnos}">
        <!--Es necesario para poder pasar la validacion del Model-->
        <input class="form-control" hidden th:field="*{id}">
        <input class="form-control" hidden th:field="*{dia}">
        <input class="form-control" hidden th:field="*{mes}">
        <div class="form-group">
            <label class="lb1">Fecha</label>
            <input th:field="*{fecha}" placeholder="date" type="date" class="form-control" required />
        </div>
        
        <div class="form-group">
            <label class="lb1">Obs</label>
            <textarea th:field="*{observaciones}" placeholder="Observaciones" class="form-control" required ></textarea>
        </div>
        <div class="form-group">
            <label class="lb1">Estacion</label>
            <select th:field="*{estacion}">
                <option th:each="estacion:${estaciones}" th:value="${estacion.id}" th:text="${estacion.nombre}"></option>
            </select></div>
        <div class="form-group">
            <label class="lb1">Estado</label>
            <select th:field="*{estado}">
                <option th:each="estado:${estadoTurnos}" th:value="${estado.id}" th:text="${estado.descripcion}"></option>
            </select></div>
        <div class="form-group">
            <label class="lb1">Estudiante</label>
            <select th:field="*{estudiante}">
                <option th:each="estudiante:${estudiantes}" th:value="${estudiante.id}" th:text="${estudiante.nombres} + ' ' + ${estudiante.apellidos}"></option>
            </select></div>
        <div class="form-group">
            <label class="lb1">Horario</label>
            <select th:field="*{horario}">
                <option th:each="horario:${horarios}" th:value="${horario.id}" th:text="${horario.descripcion}"></option>
            </select>
        </div>
        <div class="card-footer">
            <input type="submit" value="Guardar" class="btn btn-success" />
        </div>
    </form>
    <h3>TURNOS</h3>
    <table border="1">
        <tr>
            <td>DIA</td>
            <td>MES</td>
            <td>ESTACION</td>
            <td>ESTADO</td>
            <td>HORARIO</td>
            <td>ESTUDIANTE</td>
            <td>CARRERA</td>
            <td>OBSERVACIONES</td>
        </tr>
        <tr th:each="turno:${turnos}">
            <td th:text="${turno.dia}">DIA</td>
            <td th:text="${turno.mes}">MES</td>
            <td th:text="${turno.estacion.nombre}">ESTACION</td>
            <td th:text="${turno.estado.descripcion}">ESTADO</td>
            <td th:text="${turno.horario.descripcion}">HORARIO</td>
            <td th:text="${turno.estudiante.nombres} + ' ' + ${turno.estudiante.apellidos}">ESTUDIANTE</td>
            <td th:text="${turno.estudiante.carrera.descripcion}">CARRERA</td>
            <td th:text="${turno.observaciones}">OBSERVACIONES</td>
        </tr>
            
    </table>
</body>
</html>